body {
    margin: 0;
}

header {
    margin: 0 15%;
    display: flex;
    height: 300px;
    background-color: rgb(182, 216, 209);
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    color: greenyellow;
}

.search {
    padding: 10px;
}

h1 {
    margin-top: 100px;
    margin-right: 25px;
    font-size: 3em;
    font-weight: bold;
}

li {
    list-style: none;
}

.log_list {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.log_element {
    padding: 0 10px;
    font-size: 15px;
}

.info_list {
    margin-top: 190px;
    padding-left: 30px;
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar {
    margin: 0 15%;
}

.category {
    margin: 0%;
    padding: 0%;
}

.list {
    width: 80%;
    height: 60px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #ddd;
}

.listitem {
    margin: 0%;
    padding: 10px;
    font-size: 90%;
    border-radius: 6px;
}

.container {
    margin: 0 15%;
}

.container_body {
    width: 652px;
    height: 578px;
    margin: 5% 33%;
    border: 1px solid #000000;
}

.category_registered_customers {
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-top: 5%;
}

.subtitle {
    border-bottom: 2px solid #ddd;
}

.category_summary {
    font-size: 14px;
    color: lightgray;
    text-align: center;
}

.loginfo {
    height: 420px;
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: 5%;
    width: 80%;
}

legend {
    display: none;
}

.selfcheck_info {
    margin-top: 12%;
    margin-bottom: 5%;
}

.selfcheck_info .desc {
    margin-left: 80px;
}

.email_info {
    margin-bottom: 5%;
}

.email_info .desc {
    margin-left: 140px;
}

.btnNormal {
    padding: 3px;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 10px;
}

#verification_code {
    margin-left: 120px;
    padding: 2px 2px 2px 3px;
    height: 32px;
    width: 50%;
}

.txtInfo {
    margin-left: 21%;
    width: 73%;
    font-size: 14px;
}

.certified {
    margin-bottom: 5%;
}

.certified .desc {
    display: inline;
}

.btncheck {
    display: flex;
    justify-content: center;
}

.btnokay {
    margin-right: 2%;
    padding: 10px 10px 0 10px;
    height: 32px;
    width: 35%;
    border: 1px solid #000000;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: #ddd;
    background-color: rgb(102, 96, 96);
}

.btncancle {
    margin-left: 2%;
    padding: 10px 10px 0 10px;
    height: 32px;
    width: 35%;
    border: 1px solid #000000;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: rgb(41, 41, 41);
    background-color: rgb(255, 255, 255);
}

footer {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    font-size: 12px;
    background-color: cadetblue;
    border-top: 1px solid black;
    justify-content: space-evenly;
}

p {
    margin: 0%;
    padding: 15px;
}