body {
    margin: 0;
}

header {
    margin: 0 15%;
    display: flex;
    height: 300px;
    background-color: rgb(182, 216, 209);
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.search {
    padding: 10px;
}

h1 {
    margin-top: 100px;
    margin-right: 25px;
    font-size: 3em;
    font-weight: bold;
}

li {
    list-style: none;
}

.log_list {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.log_element {
    padding: 0 10px;
    font-size: 15px;
}

.log_element:hover {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(207, 238, 228);
}

.info_list {
    margin-top: 190px;
    padding-left: 30px;
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar {
    margin: 0 15%;
}

.category {
    margin: 0%;
    padding: 0%;
}

.list {
    width: 80%;
    height: 60px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #ddd;
}

.listitem {
    margin: 0%;
    padding: 10px;
    font-size: 90%;
    border-radius: 6px;
}

.listitem:hover {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(207, 238, 228);
}

.category_home {
    text-align: center;
}

h2 {
    font-size: 14px;
    margin: 3%;
}

span {
    border-bottom: 2px solid #ddd;
}

.container_body {
    height: 840px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    opacity: 20%;
}

.comming_soon {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 64px;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    font-size: 12px;
    background-color: cadetblue;
    border-top: 1px solid black;
    justify-content: space-evenly;
}

p {
    margin: 0%;
    padding: 15px;
}