body {
    margin: 0;
}

header {
    margin: 0 15%;
    display: flex;
    height: 300px;
    background-color: rgb(182, 216, 209);
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    color: greenyellow;
}

.search {
    padding: 10px;
}

h1 {
    margin-top: 100px;
    margin-right: 80px;
    font-size: 3em;
    font-weight: bold;
}

.sidebar {
    margin: 0 15%;
}

.log_list {
    margin: 10px;
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.info_list {
    margin-top: 190px;
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.category {
    margin: 0%;
    padding: 0%;
}

ul {
    width: 80%;
    height: 60px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #ddd;
}

li {
    margin: 0%;
    padding: 10px;
    font-size: 90%;
    border-radius: 6px;
}

li:hover {
    background-color: cadetblue;
}

.home {
    font-weight: bold;
}

.container {
    margin: 0 15%;
}

.container_body {
    
}

footer {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    font-size: 12px;
    background-color: cadetblue;
    border-top: 1px solid black;
    justify-content: space-evenly;
}

p {
    margin: 0%;
    padding: 15px;
}