<!-- header -->
{% include './layout/header.html' %}

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- Join -->
<header class="join">
  <div class="container card card_temple col-5">
    <div class="row">
      <div class="col-12">
        <h2>Join Us</h2>
        <div class="tooltip_icon">
          <span class="fa-stack fa-1x">
            <i class="far fa-question-circle fa-stack-1x" data-bs-toggle="modal" data-bs-target="#tooltip" onclick=""></i>
          </span>
        </div>
      </div>
    </div>
    <form id="Join_form">
      <!-- Name input -->
      <div class="form-outline mb-4 dis_inblk col-5">
        <input type="text" id="userNm" name="userNm" class="form-control" required />
        <label class="form-label" for="userNm">User Name</label>
      </div>

      <!-- gender input -->
      <div class="form-outline mb-4 dis_inblk col-5">
        <select class="form-select" id="gender" name="gender" aria-label="Default select example" required>
          <option selected>성별을 선택해 주세요</option>
          <option value="0">남자</option>
          <option value="1">여자</option>
        </select>
        <label class="form-label" for="gender">Gender</label>
      </div>

      <!-- ID input -->
      <div class="form-outline mb-4 dis_inblk col-5">
        <input type="text" id="userid" name="userid" class="form-control" required />
        <label class="form-label" for="userid">User Id</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4 dis_inblk col-5">
        <input type="password" id="password" name="password" class="form-control" required />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- 키 input -->
      <div class="form-outline mb-4 dis_inblk col-3">
        <input type="number" id="height" name="height" class="form-control" required />
        <label class="form-label" for="height">키</label>
      </div>

      <!-- 몸무게 input -->
      <div class="form-outline mb-4 dis_inblk col-3">
        <input type="number" id="weight" name="weight" class="form-control" required />
        <label class="form-label" for="weight">몸무게</label>
      </div>

      <!-- 나이 input -->
      <div class="form-outline mb-4 dis_inblk col-3">
        <input type="number" id="age" name="age" class="form-control" required />
        <label class="form-label" for="age">나이</label>
      </div>

      <!-- Submit button -->
      <div>
        <button type="button" class="btn btn-primary btn-block" onclick="clkJoinBtn()">Sign in</button>
      </div>
    </form>
  </div>
</header>

<!-- Modal (tooltip) -->
<div class="modal fade" id="tooltip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">Join Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="my-2">
          <h5>안내</h5>
          <li class="item-intro text-muted">모든 값을 입력해야 회원가입이 진행 됩니다.</li>
        </div>
        <div class="my-2">
          <h5>비밀번호 형식</h5>
          <li class="item-intro text-muted">영문, 숫자를 혼합하여 입력해주세요.</li>
          <li class="item-intro text-muted">비밀번호는 8자리 이상으로 입력해주세요.</li>
          <li class="item-intro text-muted">비밀번호는 공백 없이 입력해주세요.</li>
        </div>
        <div class="my-2">
          <h5>키, 몸무게, 나이</h5>
          <li class="item-intro text-muted">무조건 숫자값으로 입력해야 합니다. (소수점 가능)</li>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //로그인 되어 있으면 강제 리다이렉팅
  if ("{{session['login']}}") {
    window.location = '/';
  }

  // 버튼 엔터키로 전송시 에러남 -> 에러방지
  $(document).keypress(function (e) {
    if (e.keyCode == 13) e.preventDefault();
  });

  function clkJoinBtn() {
    var form = $('#Join_form')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/user/register',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          alertStart('success', '회원가입 성공', data.result, 'replace', '/user/login', 500)
        } else {
          alertStart('error', '회원가입 실패', data.result)
        }
      },
      error: function (e) {
        alertStart('error', '회원가입 실패', '회원가입에 실패 하였습니다')
      }
    });
  }
</script>

<style>
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<!-- Footer-->
{% include './layout/footer.html' %}