<!-- header -->
{% include './layout/header.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- Login -->
<header class="join">
  <div class="container col-5">
    <form id="login_form">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" id="userid" name="userid" class="form-control" />
        <label class="form-label" for="userid">User Id</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block" onclick="clkBtn()">Sign in</button>
    </form>
  </div>
</header>


<script type="text/javascript">  
  if ("{{session['login']}}"){
    alert('로그인 했네')
    window.location = '/';
  }
  
  function clkBtn() {
    var form = $('#login_form')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/login/login',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        alert('로그인에 성공 하였습니다.')
      },
      error: function (e) {
        alert('로그인에 실패 하였습니다.')
      }
    });
  }
</script>

<!-- Footer-->
{% include './layout/footer.html' %}