<!-- header -->
{% include './layout/header.html' %}

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- Login -->
<header class="login">
  <div class="container card card_temple col-5">
    <h1>Login</h1>
    <form id="login_form">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" id="userid" name="userid" class="form-control" />
        <label class="form-label" for="userid">User Id</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block" onclick="clkBtn()">Sign in</button>
    </form>
  </div>
</header>

<script type="text/javascript">
  //로그인 되어 있으면 강제 리다이렉팅
  if ("{{session['login']}}") {
    window.location = '/';
  }

  // 버튼 엔터키로 전송시 에러남 -> 에러방지
  $(document).keypress(function (e) {
    if (e.keyCode == 13) e.preventDefault();
  });

  function clkBtn() {
    var form = $('#login_form')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/user/examine',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          location.replace('/')
        } else {
          alertStart('error', '로그인 실패', data.result)
        }
      },
      error: function (e) {
        alertStart('error', '로그인 실패', '로그인에 실패 하였습니다.')
      }
    });
  }
</script>

<!-- Footer-->
{% include './layout/footer.html' %}