<!-- header -->
{% include './layout/header.html' %}

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- myPage -->
<header class="myPage">
  <div class="container card card_temple">
    <div class="row">
      <div class="col-12">
        <h2>MyPage</h2>
        <div class="tooltip_icon">
          <span class="fa-stack fa-1x">
            <i class="far fa-question-circle fa-stack-1x" data-bs-toggle="modal" data-bs-target="#tooltip" onclick=""></i>
          </span>
        </div>
      </div>
      <div class="col-6">
        <h4>{{session['user_Nm']}} 님</h4>
        <div class="card card_temple col-8 my-sm-1">

          {% if user.gender == 0 %}
            <p class="text-white">성별 : 남</p>
          {% else %}
            <p class="text-white">성별 : 여</p>
          {% endif %}

          <p class="text-white">나이 : {{user.age}}</p>
          <p class="text-white">키 : {{user.height}}cm</p>
          <p class="text-white">몸무게 : {{user.weight}}kg</p>

          {% if user.face_shape == 1 %}
            <p class="text-white">체형 : 모래시계형</p>
          {% elif user.face_shape == 2 %}
            <p class="text-white">체형 : 직사각형</p>
          {% elif user.face_shape == 3 %}
            <p class="text-white">체형 : 삼각형</p>
          {% elif user.face_shape == 4 %}
            <p class="text-white">체형 : 역삼각형</p>
          {% elif user.face_shape == 5 %}
            <p class="text-white">체형 : 타원형</p>
          {% elif user.face_shape == 0 %}
            <p class="text-white">체형 : 선택안함</p>
          {% endif %}
          
          {% if user.style == 1 %}
            <p class="text-white">취향 : 클래식</p>
          {% elif user.style == 2 %}
            <p class="text-white">취향 : 캐주얼</p>
          {% elif user.style == 3 %}
            <p class="text-white">취향 : 매니시</p>
          {% elif user.style == 4 %}
            <p class="text-white">취향 : 애스닉</p>
          {% elif user.style == 5 %}
            <p class="text-white">취향 : 모던</p>
          {% elif user.style == 6 %}
            <p class="text-white">취향 : 내추럴</p>
          {% elif user.style == 7 %}
            <p class="text-white">취향 : 스포티</p>
          {% elif user.style == 8 %}
            <p class="text-white">취향 : 힙합</p>
          {% elif user.style == 0 %}
            <p class="text-white">취향 : 선택안함</p>
          {% endif %}

          {% if user.face_shape == 1 %}
            <p class="text-white">얼굴형 : 달걀형</p>
          {% elif user.face_shape == 2 %}
            <p class="text-white">얼굴형 : 역삼각형</p>
          {% elif user.face_shape == 3 %}
            <p class="text-white">얼굴형 : 둥근형</p>
          {% elif user.face_shape == 4 %}
            <p class="text-white">얼굴형 : 각진형</p>
          {% elif user.face_shape == 5 %}
            <p class="text-white">얼굴형 : 긴 얼굴형</p>
          {% elif user.face_shape == 0 %}
            <p class="text-white">얼굴형 : 선택안함</p>
          {% endif %}

          {% if user.face_shape == 1 %}
            <p class="text-white">피부톤 : 1-1</p>
          {% elif user.face_shape == 2 %}
            <p class="text-white">피부톤 : 1-2</p>
          {% elif user.face_shape == 3 %}
            <p class="text-white">피부톤 : 1-3</p>
          {% elif user.face_shape == 4 %}
            <p class="text-white">피부톤 : 2-1</p>
          {% elif user.face_shape == 5 %}
            <p class="text-white">피부톤 : 2-2</p>
          {% elif user.face_shape == 6 %}
            <p class="text-white">피부톤 : 2-3</p>
          {% elif user.face_shape == 0 %}
            <p class="text-white">피부톤 : 선택안함</p>
          {% endif %}
          
          {% if user.face_shape == 1 %}
            <div class="text-white">헤어스타일 : 장발</div>
          {% elif user.face_shape == 2 %}
            <div class="text-white">헤어스타일 : 중발</div>
          {% elif user.face_shape == 3 %}
            <div class="text-white">헤어스타일 : 단발</div>
          {% elif user.face_shape == 4 %}
            <div class="text-white">헤어스타일 : 숏컷</div>
          {% elif user.face_shape == 0 %}
            <div class="text-white">헤어스타일 : 선택안함</div>
          {% endif %}
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#secession">탈퇴하기</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modify">부가정보 수정</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#change_pw">비밀번호 변경</button>
      </div>
      <div class="col-6 my-sm-1">
        <div class="card card_temple">
          <h4 class="card-title">검색 기록 List</h4>
          <div class="card card_temple height_1000 scroll_bar">
            {% if log %}
              {% for log in log %}
                <div class="row card card_temple width_100 margin_0" data-bs-toggle="modal" data-bs-target="#detail" onclick="search_detail('{{log.idx}}')">
                  <div class="row">
                    <div class="col-2">{{loop.index}}</div>
                    <div class="col-7">{{log.s_type}}</div>
                    <div class="col-3">{{log.date}}</div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="row card card_temple width_100 margin_0">
                <div class="row">
                  <div class="col-12">검색 기록이 없습니다.</div>
                </div>
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal (비밀번호 변경) -->
<div class="modal fade" id="change_pw" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">비밀번호 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="text-align-center" id="change_pw_form">
          <!-- current_pw input -->
          <div class="form-floating mb-3 ">
            <input class="form-control input-sm" id="current_pw" name="current_pw" type="password" required />
            <label for="current_pw">현재 비밀번호</label>
          </div>
          <!-- new_pw input -->
          <div class="form-floating mb-3 ">
            <input class="form-control input-sm" id="new_pw" name="new_pw" type="password" required />
            <label for="new_pw">새 비밀번호</label>
          </div>
          <!-- newCheck_pw input -->
          <div class="form-floating mb-3 ">
            <input class="form-control input-sm" id="newCheck_pw" name="newCheck_pw" type="password" required />
            <label for="newCheck_pw">새 비밀번호 확인</label>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" id="change_pwClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="tampleBtn" class="btn btn-warning" onclick="change_pw()">Save changes</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal (수정하기) -->
{% include './user/components/modify.html' %}

<!-- Modal (회원탈퇴) -->
<div class="modal fade" id="secession" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">회원탈퇴</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p class="item-intro text-muted">정말 탈퇴하시겠습니까?</p>
        <p class="item-intro text-muted">탈퇴하실 경우, 현재 등록된 모든 정보가 삭제됩니다.</p>
        <div class="modal-footer">
          <button type="button" id="secessionClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" id="tampleBtn" class="btn btn-warning" onclick="secession()">Yes</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal (detail) -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">검색 기록 상세정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="removeContact()"></button>
      </div>

      <div class="modal-body">

        <div id="modal_main">
        </div>

        <div class="modal-footer">
          <button type="button" id="secessionClsBtn" class="btn btn-secondary" data-bs-dismiss="modal" onclick="removeContact()">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal (tooltip) -->
<div class="modal fade" id="tooltip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">My Page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="my-2">
          <h5>User 정보</h5>
          <li class="item-intro text-muted">회원 탈퇴시 모든 정보는 삭제됩니다.</li>
        </div>
        <div class="my-2">
          <h5>검색 기록 List</h5>
          <li class="item-intro text-muted">검색 기록은 최근 기준 최대 100건 까지 노출됩니다.</li>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var check_vlu = false

  // 로그인 안할 경우 alert 오픈
  if ("{{session['login']}}" == '' || "{{session['login']}}" == false) {
    $(document).ready(function () {
      alertStart('error', 'MyPage', '로그인 후 이용 가능합니다.', 'replace', '/index')
    });
  }

  function change_pw() {
    var form = $('#change_pw_form')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/user/change_pw',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          $('#change_pwClsBtn').click()
          alertStart('success', 'Change Password', data.result, 'replace', '/myPage', 1000)
        } else {
          alertStart('error', 'Change Password', data.result)
        }
      },
      error: function (e) {
        alertStart('error', 'Change Password', '비밀번호 변경중 오류가 발생하였습니다.')
      }
    });
  }

  function modify() {
    var form = $('#modify_form')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/user/modify',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          $('#modifyClsBtn').click()
          alertStart('success', 'Change Modify', data.result, 'replace', '/myPage', 1000)
        } else {
          alertStart('error', 'Change Modify', data.result)
        }
      },
      error: function (e) {
        alertStart('error', 'Change Modify', '추가정보 업데이트중 오류가 발생하였습니다.')
      }
    });
  }

  function secession() {
    $.ajax({
      type: "POST",
      url: '/user/secession',
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          $('#secessionClsBtn').click()
          alertStart('success', '회원탈퇴', data.result, 'replace', '/', 1000)
        } else {
          alertStart('error', '회원탈퇴', data.result)
        }
      },
      error: function (e) {
        alertStart('error', '회원탈퇴', '회원탈퇴중 오류가 발생하였습니다.')
      }
    });
  }

  function search_detail (idx) {
    check_vlu = true
    $.ajax({
      type: "POST",
      dataType : 'json',
      data: idx,
      url: '/user/search_detail',
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          var result = data.result[0]

          const box = document.getElementById("modal_main");
          const newDiv = document.createElement('div')
          newDiv.setAttribute("id", "createElement_Div");

          const newh5 = document.createElement('h5');
          const newP1 = document.createElement('p');
          const newP2 = document.createElement('p');
          const newP3 = document.createElement('p');

          if (result.s_type === 'cl') {
            newh5.innerHTML = '크롤링'
            newP1.innerHTML = 'searchUrl : ' + result.result.searchUrl
            newP2.innerHTML = 'Tag : ' + result.result.tag
            newP3.innerHTML = 'Data : ' + result.c_date
          } else if (result.s_type === 'co') {
            newh5.innerHTML = '의류추천'
            newP1.innerHTML = '검색조건 : ' + result.result.search
            newP3.innerHTML = 'Data : ' + result.c_date
          }

          newDiv.appendChild(newh5);
          newDiv.appendChild(newP1);
          newDiv.appendChild(newP2);
          newDiv.appendChild(newP3);
          box.appendChild(newDiv);
        } else {
          alertStart('error', '검색 기록 조회', '검색 기록을 가져오지 못했습니다.')
        }
      },
      error: function (e) {
        console.log(e)
        alertStart('error', '검색 기록 조회', '검색 기록을 가져오지 못했습니다.')
      }
    });
  }

  //페이지 전역 클릭 감지 -> 클릭시 모달 꺼짐 꺼질때 data 삭제
  $(document).click(function (e) {
    if (!$(e.target).is('#detail') && check_vlu) {
      removeContact()
    }
  });

  function removeContact() {
    check_vlu = false
    $("div").remove('#createElement_Div')
  }
</script>

<style>
  .width_100 {
    width: 100%;
  }
  .height_1000 {
    height: 467px;
    margin: 0;
    padding: 0;
  }
  .margin_1rem {
    margin: 1rem;
  }
  .padding_top_0{
    padding-top: 0px;
  }
  .margin_0 {
    margin: 0;
  }
</style>
<!-- Footer-->
{% include './layout/footer.html' %}