<!-- header -->
{% include './layout/header.html' %}

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- myPage -->
<header class="myPage">
  <div class="container card card_temple">
    <h2>MyPage</h2>
    <div class="row">
      <div class="col-6">
        <h4>{{session['user_Nm']}} 님</h4>
        <div class="card card_temple col-8 my-sm-1">
          {% if result.gender == 0 %}
          <p class="text-white">성별 : 남</p>
          {% else %}
          <p class="text-white">성별 : 여</p>
          {% endif %}
          <p class="text-white">키 : {{result.height}}cm</p>
          <p class="text-white">몸무게 : {{result.weight}}kg</p>
          <p class="text-white">체형 : {{result.body_shape}}</p>
          <p class="text-white">취향 : {{result.style}}</p>
          <p class="text-white">피부톤 : {{result.skin_tone}}</p>
          <p class="text-white">얼굴형 : {{result.face_shape}}</p>
          <div class="text-white">헤어스타일 : {{result.hair}}</div>
        </div>
        <button type="button" id="button" class="btn btn-primary btn-block">회원탈퇴</button>
        <button type="button" id="button" class="btn btn-primary btn-block">수정하기</button>
        <button type="button" id="button" class="btn btn-primary btn-block">비밀번호 변경</button>
      </div>
      <div class="col-6 my-sm-1">
        <div class="card card_temple">
          <h4>검색 기록 List</h4>
          <div class="card card_temple height_500 scroll_bar">
            <div class="card card_temple width_100">
              검색기록 샘플 1
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 2
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 3
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 4
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 5
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 6
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 7
            </div>
            <div class="card card_temple width_100">
              검색기록 샘플 8
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<style>
  .width_100 {
    width: 100%;
  }
  .height_500 {
    height: 467px;
    margin: 0;
    padding: 0;
  }
</style>
<!-- Footer-->
{% include './layout/footer.html' %}