<!-- header -->
{% include './layout/header.html' %}

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- Masthead -->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">we'll find your style for you</div>
    <div class="masthead-heading text-uppercase">Pick & Fit</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
  </div>
</header>

<!-- Services -->
{% include './dashboard/services.html' %}

<!-- Portfolio Grid -->
{% include './dashboard/portfolio.html' %}

<!-- About -->
{% include './dashboard/about.html' %}

<!-- Team -->
{% include './dashboard/team.html' %}

<!-- Contact -->
{% include './dashboard/contact.html' %}

<!-- Footer-->
{% include './layout/footer.html' %}