<!-- header -->
{% include './layout/header.html' %}

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- adminPage -->
<header class="adminPage">
  <div class="container card card_temple">
    <div class="row">
      <div class="col-12">
        <h2>Admin</h2>

        <div class="card card_temple col-6">
          <h4>Json 업로드</h4>
          <form method="POST" id="fileUpload" enctype="multipart/form-data" class="mb-4">
            <input class="" type="file" name="file[]" multiple />
            <button class="btn btn-secondary" type="button" onclick="fileUpload()">업로드</button>
          </form>

          <h4>이미지 업로드</h4>
          <form method="POST" id="imgUpload" enctype="multipart/form-data">
            <input class="" type="file" name="file[]" multiple />
            <button class="btn btn-secondary" type="button" onclick="imgUpload()">업로드</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  function fileUpload () {
    $('#load').slideToggle()

    var form = $('#fileUpload')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/admin/fileUpload',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        $('#load').slideToggle()
        if (data.code === 20000) {
          alertStart('success', 'Json 업로드', data.result)
        } else {
          alertStart('error', 'Json 업로드', data.result)
        }
      },
      error: function (e) {
        $('#load').slideToggle()
        alertStart('error', 'Json 업로드', '업로드에 실패 하였습니다.')
      }
    });
  }
  
  function imgUpload () {
    $('#load').slideToggle()

    var form = $('#imgUpload')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/admin/imgUpload',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        $('#load').slideToggle()
        if (data.code === 20000) {
          alertStart('success', 'Json 업로드', data.result)
        } else {
          alertStart('error', 'Json 업로드', data.result)
        }
      },
      error: function (e) {
        $('#load').slideToggle()
        alertStart('error', 'Json 업로드', '업로드에 실패 하였습니다.')
      }
    });
  }
</script>

<style>
  .width_100 {
    width: 100%;
  }
  .height_1000 {
    height: 467px;
    margin: 0;
    padding: 0;
  }
  .margin_1rem {
    margin: 1rem;
  }
  .padding_top_0{
    padding-top: 0px;
  }
  .margin_0 {
    margin: 0;
  }
  .adminPage {

  }
</style>
<!-- Footer-->
{% include './layout/footer.html' %}