<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    {% if request.path == '/' %}
      <a class="navbar-brand" href="/#page-top"><img src="{{ url_for('static', filename='assets/img/navbar-logo.svg') }}" alt="..." /></a>
    {% else %}
      <a class="navbar-brand" onclick="change_url('/#page-top',1000)"><img src="{{ url_for('static', filename='assets/img/navbar-logo.svg') }}" alt="..." /></a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        {% if request.path == '/' %}
          <li class="nav-item"><a class="nav-link" href="/#page-top">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="/#portfolio">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/#team">Team</a></li>
          <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" onclick="change_url('/#page-top',1000)">Home</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/#services',1000)">Services</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/#portfolio',1000)">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/#about',1000)">About</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/#team',1000)">Team</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/#contact',1000)">Contact</a></li>
        {% endif %}

        {% if session['login'] %}
          <li class="nav-item"><a class="nav-link" onclick="change_url('/myPage',1000)">{{session['user_Nm']}} 님</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/user/logout',1000)">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" onclick="change_url('/user/login',1000)">Login</a></li>
          <li class="nav-item"><a class="nav-link" onclick="change_url('/user/join',1000)">Join</a></li>
        {% endif %}
        
        {% if session['dev'] %}
          <li class="nav-item"><a class="nav-link" onclick="change_url('/admin',1000)">관리자</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>