<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- recommend -->
<header class="recommend">
  <div class="container card card_temple">
    <!-- Page Content -->
    <div class="container">
      <span class="fa-stack fa-2x icon_left">
        <i class="fas fa-arrow-left" onclick="goRecommend()"></i>
      </span>
      <!-- Portfolio Item Heading -->
      <h1 class="my-4">의류 추천</h1>
      
      <div class="card col-12 detail_card mg_btm_1rem">
        <div class="card-body">
          <p class="card-text text-muted">
            선택한 체형, 얼굴형, 키, 몸무게를 종합하여 AI 데이터 셋을 활용한 최적의 검색조건입니다!
          </p>
          <div class="row">
            {% for i in result %}
            <div class="col-md-3 col-sm-6 mb-4">
              <img src="data:image/jpg;charset=utf-8;base64,{{i}}" style="width: 100%;">
            </div>
            {% endfor %}
          </div>

          <button class="btn btn-primary" onclick="">Go Search</button>
        </div>
      </div>

    </div>
  </div>
</header>

<script>
</script>

<style>

</style>

<!-- Footer-->
{% include './layout/footer.html' %}