<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- recommend -->
<header class="recommend">
  <div class="container card card_temple">
    <!-- Page Content -->
    <div class="container">
      <span class="fa-stack fa-2x icon_left">
        <i class="fas fa-arrow-left" onclick="goRecommend()"></i>
      </span>
      <!-- Portfolio Item Heading -->
      <h1 class="my-4">의류 추천</h1>

      <div class="card col-12 detail_card mg_btm_1rem">
        <div class="card-body">
          <p class="card-text text-dark">
            선택한 체형, 얼굴형, 키, 몸무게를 종합하여  패션을 추천해드립니다!
          </p>

          <div class="row">
            <div class="col-12 mb-4">

                {% if user.face_shape == 1 %}
                <span class="text-muted">얼굴형 : 달걀형 | </span>
                {% elif user.face_shape == 2 %}
                <span class="text-muted">얼굴형 : 역삼각형 | </span>
                {% elif user.face_shape == 3 %}
                <span class="text-muted">얼굴형 : 둥근형 | </span>
                {% elif user.face_shape == 4 %}
                <span class="text-muted">얼굴형 : 각진형 | </span>
                {% elif user.face_shape == 5 %}
                <span class="text-muted">얼굴형 : 긴 얼굴형 | </span>
                {% endif %}

                {% if user.body_shape == 1 %}
                <span class="text-muted">체형 : 모래시계형</span>
                {% elif user.body_shape == 2 %}
                <span class="text-muted">체형 : 직사각형</span>
                {% elif user.body_shape == 3 %}
                <span class="text-muted">체형 : 삼각형</span>
                {% elif user.body_shape == 4 %}
                <span class="text-muted">체형 : 역삼각형</span>
                {% elif user.body_shape == 5 %}
                <span class="text-muted">체형 : 타원형</span>
                {% endif %}

                {% if user.face_shape == 1 %}
                <p class="card-text text-dark content">
                              얼굴형<br>
                사실 달걀형 얼굴은 어떤 넥라인도 소화 할수 있는 얼굴형입니다!<br>
                얼굴형이 갸름하고 목이 긴 사람들은 터틀 넥, 보우트 넥, 롤 칼라 등 여러가지 넥이 모두 다 잘어울립니다.<br>
                그러나 V넥은 너무 깊게 파는 것만은 하지 말아주시길 바랍니다.<br>
                당신은 축복 받은 얼굴!</p>
                {% elif user.face_shape == 2 %}
                <p class="card-text text-dark content">
                              얼굴형<br>
                역삼각형의 얼굴형을 가진 분들은 라운드넥을 입어 뾰족한 얼굴형을 부드럽게 커버해주는 걸 추천드려요.<br>
                V넥을 입을 때 보단 훨씬 인상이 차분하고 부드러워지는 걸 느낄 수 있을 거에요.</p>
                {% elif user.face_shape == 3 %}
                <p class="card-text text-dark content">
                              얼굴형<br>
                둥근 얼굴형을 가진 분들은 날렵한 넥라인을 선택해 보는 걸 추천해드려요.<br>
                광대뼈의 폭이 이마와 턱보다 넓어 전체적으로 둥근 얼굴은 길어 보이도록 해야합니다.<br>
                V넥의 날렵한 라인이 동그란 얼굴과 만나 한층 갸름하고 슬림해진 얼굴을 만들어줄 수 있습니다.</p>
                {% elif user.face_shape == 4 %}
                <p class="card-text text-dark content">
                              얼굴형<br>
                동그란 얼굴형과는 반대로 곡선의 넥라인을 선택해 보는 걸 추천해드려요.<br>
                곡선라인이 각진 턱을 둥글게 보일 수 있도록 만들어주죠!</p>
                {% elif user.face_shape == 5 %}
                <p class="card-text text-dark content">
                              얼굴형<br>
                긴 얼굴형을 가진 분들은 넥라인을 목선에 딱 맞춰 입는걸 추천드려요.<br>
                넥이 깊게 파인 디자인은 얼굴을 더 길어 보이게 할 수 있거든요.</p>
                {% endif %}

                {% if user.body_shape == 1 %}
                <p class="card-text text-dark content">
                                체형<br>
                  엉덩이가 크가 하체가 커보이는게 모래시계형의 특징입니다.<br>
                  아우터:엉덩이를 가릴 수 있는 하프기장 이상을 추천드립니다.<br>
                  상의:셔츠와 하의 등의 색상 매치와 핏을 통해 골반이 작아보이도록 합니다.<br>
                  하의:골반이 넓기에 기본 일자핏이 좋으며, '슬림', '스키니','배기'는 추천하지 않습니다.<br></p>
                  
                {% elif user.body_shape == 2 %}
                <p class="card-text text-dark content">
                                체형<br>
                  허리가 긴 사람들의 특징인 직사각형 체형입니다.<br>
                  아우터:허리선에서 끝나는 짧은 자켓, 화려하면 더 좋습니다.<br>
                  상의:투톤 이상의 컬러가 들어있어 큰 상체를 가릴 수 있으면 좋습니다.<br>
                  하의: 바지는 신발과 컬러의 맞춰 입어 키를 커보이게 하는걸 추천드리며 슬림한 핏을 추천합니다.<br> </p>
                {% elif user.body_shape == 3 %}
                <p class="card-text text-dark content">
                                체형<br>
                  상체보다 하체가 두꺼운 사람들의 특징인 삼각형 체형입니다.<br>
                  아우터:어깨의 각을 살려주는 핏인 옷을 추천드리고 기장은 짧은 걸 추천드립니다.<br>
                  상의:상의는 최대한 밝은 옷을 입어 상체를 하체보다 보이게 만듭시다.<br>
                  하의:하의는 반대로 어두운 계열을 입어 덜 눈에 띄게 하며 일자핏을 추천드립니다.<br></p>
                {% elif user.body_shape == 4 %}
                <p class="card-text text-dark content">
                                체형<br>
                  어깨가 넓은 사람들의 특징인 역삼각형의 체형입니다. <br>
                  아우터:상체를 더욱 두껍게 보이게 하기에 소재가 두꺼운 재료가 사용되는 것을 피하는 걸 추천드립니다.<br>
                  상의:상의는 어두운 옷을 입되, 딱 맞는 핏을 추천드리며 v넥을 입으면 상체가 넓어보이는걸 보완해줍니다.<br>
                  하의:하의는 밟은컬러와 펑퍼짐한핏을 입는걸 추천드립니다. 슬림핏을 입으면 어깨가 너무 커보여 부자연스럽습니다.<br></p>
                {% elif user.body_shape == 5 %}
                <p class="card-text text-dark content">
                                체형<br>
                  통통한 사람들의 특징인 타원형의 체형입니다. <br>
                  아우터:자켓류를 추천 드리며 자켓은 반쯤 오픈하여 입는 것을 추천드립니다. 반쯤 오픈된 굴곡으로 인해 v넥존이 통통한 상체를 지워줍니다.<br>
                  상의:상의는 최대한 밝은 옷을 피하고 패턴도 적은 옷을 입읍시다.<br>
                  하의:하의는 신발과 같은 색상의 옷을 입어 키를 커보이게 합니다.<br></p>
                {% endif %} 
            </div>
          </div>

          <div class="row">
            {% for i in img_result %}
            <div class="col-md-4 col-sm-6 mb-4">
              <div class="card" style="width: 25rem;height: 40rem;">
                <img class="detail_img" src="data:image/jpg;charset=utf-8;base64,{{i.img_binary}}" onclick="goUrl('{{i.url}}')">
                <div class="card-body" style="color: black;">
                  <h5 class="card-title">{{i.name}}</h5>
                  <p class="card-text">{{i.p_name}}</p>
                  <p class="card-text">{{i.price}}원</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <button type="button" class="btn btn-primary btn-block" onclick="javascript:kakaoShare()">공유하기</button>

        </div>
      </div>

    </div>
  </div>
  
</header>

<script src="/application/static/js/scripts.js" charset="utf-8"></script>

<style>
  .f_14p {
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .detail_img {
    cursor: pointer;height: 30rem; width: 100%; object-fit: cover;
  }

  .content
  {
    font-size: 18px;
  }
</style>

<!-- Footer-->
{% include './layout/footer.html' %}