<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- loading -->
<div id="load">
  <div class="loader">
    <div class="dot dot-1"></div>
    <div class="dot dot-2"></div>
    <div class="dot dot-3"></div>
  </div>    
</div>

<!-- recommend -->
<header class="recommend">
  <div class="container card card_temple">
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">키워드 조회
        <small>Secondary Text</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-8">
          <img class="img-fluid" src="https://via.placeholder.com/750x500" alt="">
        </div>
        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
            urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo
            eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>
      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
          </a>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="sm-no-margin">
      <div class="progress-text">
        <div class="row">
          <div class="col-7">Positive Behaviors</div>
          <div class="col-5 text-right">40%</div>
        </div>
      </div>
      <div class="custom-progress progress">
        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%"
          class="animated custom-bar progress-bar slideInLeft bg-sky"></div>
      </div>
      <div class="progress-text">
        <div class="row">
          <div class="col-7">Teamworking Abilities</div>
          <div class="col-5 text-right">50%</div>
        </div>
      </div>
      <div class="custom-progress progress">
        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%"
          class="animated custom-bar progress-bar slideInLeft bg-orange"></div>
      </div>
      <div class="progress-text">
        <div class="row">
          <div class="col-7">Time Management </div>
          <div class="col-5 text-right">60%</div>
        </div>
      </div>
      <div class="custom-progress progress">
        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%"
          class="animated custom-bar progress-bar slideInLeft bg-green"></div>
      </div>
      <div class="progress-text">
        <div class="row">
          <div class="col-7">Excellent Communication</div>
          <div class="col-5 text-right">80%</div>
        </div>
      </div>
      <div class="custom-progress progress">
        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%"
          class="animated custom-bar progress-bar slideInLeft bg-yellow"></div>
      </div>
    </div>
  </div>
</header>

<script>
</script>

<style>

</style>

<!-- Footer-->
{% include './layout/footer.html' %}