<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- recommend -->
<header class="recommend">
  <div class="container">
  </div>
</header>

<script>
  // 로그인 안할 경우 alert 오픈
  if ("{{session['login']}}" == '' || "{{session['login']}}" == false) {
    $(document).ready(function () {
      alertStart('error', 'Recommend', '로그인 후 이용 가능합니다.', 'replace', '/index')
    });
  }
</script>

<!-- Footer-->
{% include './layout/footer.html' %}