<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- recommend -->
<header class="recommend">
  <div class="container">
    <div class="card card_temple" id="content_fadein">
      <div class="card-body">
        <div class="row text-align-center">

          <div class="card col-5 detail_card mg_btm_1rem">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/img/recommend/clothes recommend.jpeg') }}"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-dark">의류 추천</h5>
              <p class="card-text text-dark">설문조사를 통해 얻은 고객님의 정보를 통해 의류를 추천해드립니다.</p>
              <button class="btn btn-primary" onclick="checkModify('clothe')">Go Search</button>
            </div>
          </div>

          <div class="card col-5 detail_card mg_btm_1rem">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/img/recommend/my closet.jpeg') }}"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-dark">나의 패션 추천해주기</h5>
              <p class="card-text text-dark">서버안에 있는 의류를 통해 자신만의 패션을 고객들에게 추천해주세요!</p>
              <button class="btn btn-primary" onclick="checkModify('trend')">Go Search</button>
            </div>
          </div>

          <!-- <div class="card col-5 detail_card">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/img/recommend/crawling.png') }}"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-dark">크롤링</h5>
              <p class="card-text text-muted">url 안에 있는 데이터를 수집해줍니다!</p>
              <button class="btn btn-primary" onclick="change_url('/recommend/crawling', 1000)">Go Search</button>
            </div>
          </div> -->

          <!-- <div class="card col-5 detail_card">
            <img class="card-img-top" src="{{ url_for('static', filename='assets/img/recommend/rm_4.svg') }}"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-dark">통계 조회</h5>
              <p class="card-text text-muted">You can check shopping trends according to your gender and age for a
                month.</p>
              <button class="btn btn-primary" onclick="checkModify('statistic')">Go Search</button>
            </div>
          </div> -->

          <button type="button" id="modifyBtn" data-bs-toggle="modal" data-bs-target="#modify"
            style="display: none;">수정하기</button>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal (수정하기) -->
{% include './recommend/components/modify.html' %}

<script>
  // 로그인 안할 경우 alert 오픈
  if ("{{session['login']}}" == '' || "{{session['login']}}" == false) {
    $(document).ready(function () {
      alertStart('error', 'Recommend', '로그인 후 이용 가능합니다.', 'replace', '/index')
    });
  }

  function checkModify(url) {
    if ('{{result.body_shape}}' == 0 || '{{result.style}}' == 0 || '{{result.skin_tone}}' == 0 || '{{result.face_shape}}' == 0 || '{{result.hair}}' == 0) {
      if (url == 'trend') var title = '트렌드 조회'
      else if (url == 'clothe') var title = '의류 추천'
      else if (url == 'statistic') var title = '통계 조회'

      alertStart('warning', title, '해당 서비스를 이용하려면 부가정보를 전부 입력해 주세요.', 'click', '#modifyBtn')
    } else {
      change_url('/recommend/' + url, 1000)
    }
  }
</script>

<style>
  .detail_card {
    margin: 0 auto;
  }

  .mg_btm_1rem {
    margin-bottom: 1rem;
  }

  .btn-primary {
    color: #ffc800;
    background-color: #000000;
    border-color: #ffc800;
  }
</style>

<!-- Footer-->
{% include './layout/footer.html' %}