<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- recommend -->
<header class="recommend">
  <div class="container card card_temple">
    <!-- Page Content -->
    <div class="container">
        <span class="fa-stack fa-2x icon_left">
          <i class="fas fa-arrow-left" onclick="change_url('/recommend/trend',1000)"></i>
        </span>
        <!-- Portfolio Item Heading -->
        <h3 class="my-2">{{result.title}}</h3>
        <span class="mb-4">작성자 : {{user_data.userNm}}</span>
        <span class="ml-4">작성일 : {{c_date}}</span>
  
        <div class="card col-12 detail_card mg_btm_1rem">
          <div class="card-body">  
            <div class="row">
              <div class="col-12 mb-4">
  
                  <p class="card-text text-dark" id="title_text" style="font-size:18px; line-height: 5;">
                  </p>

              </div>
            </div>
  
            {% if c_outerData.shop != 0 %}
            <div class="row detail">
              <div class="col-md-4 col-sm-6 mb-4">
                <div class="card" style="width: 25rem;height: 40rem;">
                  <img class="detail_img" src="data:image/jpg;charset=utf-8;base64,{{c_outerData.img_binary}}" onclick="goUrl('{{c_outerData.url}}')">
                  <div class="card-body" style="color: black;">
                    <h5 class="card-title">{{c_outerData.shop}}</h5>
                    <p class="card-text">{{c_outerData.p_name}}</p>
                    <p class="card-text">{{c_outerData.price}}원</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            
            <div class="row detail">
              <div class="col-md-4 col-sm-6 mb-4">
                <div class="card" style="width: 25rem;height: 40rem;">
                  <img class="detail_img" src="data:image/jpg;charset=utf-8;base64,{{topData.img_binary}}" onclick="goUrl('{{topData.url}}')">
                  <div class="card-body" style="color: black;">
                    <h5 class="card-title">{{topData.shop}}</h5>
                    <p class="card-text">{{topData.p_name}}</p>
                    <p class="card-text">{{topData.price}}원</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row detail">
              <div class="col-md-4 col-sm-6 mb-4">
                <div class="card" style="width: 25rem;height: 40rem;">
                  <img class="detail_img" src="data:image/jpg;charset=utf-8;base64,{{bottomData.img_binary}}" onclick="goUrl('{{bottomData.url}}')">
                  <div class="card-body" style="color: black;">
                    <h5 class="card-title">{{bottomData.shop}}</h5>
                    <p class="card-text">{{bottomData.p_name}}</p>
                    <p class="card-text">{{bottomData.price}}원</p>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
  </div>
</header>

<script>
  $(window).on('load', function () {
    var detailText = '{{result.detail}}'
    var detailArray = []
    detailArray = detailText.split("&lt;br&gt;")

    var endText = ''
    for (var i in detailArray) {
      endText = endText + detailArray[i] + '<br>'
    }

    const box = document.getElementById("title_text");
    const newD = document.createElement('div');
    newD.setAttribute("id", "title_text_div");
    newD.innerHTML = endText
    box.appendChild(newD);
  });
</script>

<style>
.detail_img {
  cursor: pointer;
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.addCombination {
  float: right;
}
.form-floating,
.detail{
  display: inline-block;
}
label{
  color: black;
}
.mb-4{
  margin-bottom: 14px;
}
.ml-4{
  margin-left: 14px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 0;
}
</style>

<!-- Footer-->
{% include './layout/footer.html' %}