<!-- header -->
{% include './layout/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

<!-- navigation -->
{% include './layout/navigation.html' %}

<!-- recommend -->
<header class="recommend">
  <div class="container card">
    <!-- Page Content -->
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">title</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
          
          {% for i in list %}
          <tr onclick="goDetail('{{i.idx}}')">
            <th scope="row">{{loop.index}}</th>
            <td>{{i.user}}</td>
            <td>{{i.title}}</td>
            <td>{{i.date}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  
  <div class="container card">
    <div class="container">
      <button type="button" class="btn btn-primary addCombination" data-bs-toggle="modal" data-bs-target="#addCombination">추천하기</button>
    </div>
  </div>

  <!-- Modal (추천하기) -->
  <div class="modal fade" id="addCombination" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-muted" id="exampleModalLabel">추천하기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form class="text-align-center" id="addCombination_form">
            <!-- title input -->
            <div class="form-floating mb-3 col-12">
              <input class="form-control input-sm" id="title" name="title" type="text" required />
              <label for="title">제목</label>
            </div>
            <!-- outer input -->
            <div class="form-floating mb-3 col-10">
              <input class="form-control input-sm" id="outer" name="outer" type="text" required />
              <label for="outer">아우터</label>
            </div>
            <button type="button" class="btn btn-secondary">선택</button>
            <!-- top input -->
            <div class="form-floating mb-3 col-10">
              <input class="form-control input-sm" id="top" name="top" type="text" required />
              <label for="top">상의</label>
            </div>
            <button type="button" class="btn btn-secondary">선택</button>
            <!-- bottom input -->
            <div class="form-floating mb-3 col-10">
              <input class="form-control input-sm" id="bottom" name="bottom" type="text" required />
              <label for="bottom">하의</label>
            </div>
            <button type="button" class="btn btn-secondary">선택</button>
            <!-- notice input -->
            <div class="form-floating mb-3 col-12">
              <input class="form-control input-sm" id="notice" name="notice" type="text" required />
              <label for="notice">상세설명</label>
            </div>
          </form>

          <div class="modal-footer">
            <button type="button" id="secessionClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" id="tampleBtn" class="btn btn-warning" onclick="addCombination()">save</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>

<script>
  function goDetail(idx) {
    console.log(idx)
  }
</script>

<style>
.addCombination {
  float: right;
}
.form-floating{
  display: inline-block;
}
label{
  color: black;
}
</style>

<!-- Footer-->
{% include './layout/footer.html' %}