<div class="modal fade" id="modify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">추가정보 입력</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body padding_top_0 scroll_bar">
        <form class="text-align-center" id="modify_form">
          <!-- 체형 input -->
          <div class="row margin_1rem">
            <h5 class="col-md-12 text-center">체형</h5>

            <div class="row_scroll scroll_bar">
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="body_shape_1" name="body_shape" value="1">
                  <label class="custom-control-label" for="body_shape_1">
                    모래시계형
                  </label>
                  <label class="custom-control-label dis_block" for="body_shape_1">
                    <img src="{{ url_for('static', filename='assets/img/about/1.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="body_shape_2" name="body_shape" value="2">
                  <label class="custom-control-label" for="body_shape_2">
                    직사각형
                  </label>
                  <label class="custom-control-label dis_block" for="body_shape_2">
                    <img src="{{ url_for('static', filename='assets/img/about/2.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="body_shape_3" name="body_shape" value="3">
                  <label class="custom-control-label" for="body_shape_3">
                    삼각형
                  </label>
                  <label class="custom-control-label dis_block" for="body_shape_3">
                    <img src="{{ url_for('static', filename='assets/img/about/3.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="body_shape_4" name="body_shape" value="4">
                  <label class="custom-control-label" for="body_shape_4">
                    역삼각형
                  </label>
                  <label class="custom-control-label dis_block" for="body_shape_4">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="body_shape_5" name="body_shape" value="5">
                  <label class="custom-control-label" for="body_shape_5">
                    타원형
                  </label>
                  <label class="custom-control-label dis_block" for="body_shape_5">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- 스타일 input -->
          <div class="row margin_1rem">
            <h5 class="col-md-12 text-center">스타일</h5>

            <div class="row_scroll scroll_bar">
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="style_1" name="style" value="1">
                  <label class="custom-control-label" for="body_shape_1">
                    로맨틱
                  </label>
                  <label class="custom-control-label dis_block" for="style_1">
                    <img src="{{ url_for('static', filename='assets/img/about/1.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="style_2" name="style" value="2">
                  <label class="custom-control-label" for="body_shape_1">
                    모던
                  </label>
                  <label class="custom-control-label dis_block" for="style_2">
                    <img src="{{ url_for('static', filename='assets/img/about/2.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="style_3" name="style" value="3">
                  <label class="custom-control-label" for="body_shape_1">
                    스포티
                  </label>
                  <label class="custom-control-label dis_block" for="style_3">
                    <img src="{{ url_for('static', filename='assets/img/about/3.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="style_4" name="style" value="4">
                  <label class="custom-control-label" for="body_shape_1">
                    클래식
                  </label>
                  <label class="custom-control-label dis_block" for="style_4">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="style_5" name="style" value="5">
                  <label class="custom-control-label" for="body_shape_1">
                    스트리트
                  </label>
                  <label class="custom-control-label dis_block" for="style_5">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- 피부톤 input -->
          <div class="row margin_1rem">
            <h5 class="col-md-12 text-center">피부톤</h5>

            <div class="row_scroll scroll_bar">
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="skin_tone_1" name="skin_tone" value="1">
                  <label class="custom-control-label" for="body_shape_1">
                    웜톤
                  </label>
                  <label class="custom-control-label dis_block" for="skin_tone_1">
                    <img src="{{ url_for('static', filename='assets/img/about/1.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="skin_tone_2" name="skin_tone" value="2">
                  <label class="custom-control-label" for="body_shape_1">
                    웜톤
                  </label>
                  <label class="custom-control-label dis_block" for="skin_tone_2">
                    <img src="{{ url_for('static', filename='assets/img/about/2.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="skin_tone_3" name="skin_tone" value="3">
                  <label class="custom-control-label" for="body_shape_1">
                    웜톤
                  </label>
                  <label class="custom-control-label dis_block" for="skin_tone_3">
                    <img src="{{ url_for('static', filename='assets/img/about/3.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="skin_tone_4" name="skin_tone" value="4">
                  <label class="custom-control-label" for="body_shape_1">
                    쿨톤
                  </label>
                  <label class="custom-control-label dis_block" for="skin_tone_4">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="skin_tone_5" name="skin_tone" value="5">
                  <label class="custom-control-label" for="body_shape_1">
                    쿨톤
                  </label>
                  <label class="custom-control-label dis_block" for="skin_tone_5">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="skin_tone_6" name="skin_tone" value="6">
                  <label class="custom-control-label" for="body_shape_1">
                    쿨톤
                  </label>
                  <label class="custom-control-label dis_block" for="skin_tone_6">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- 얼굴형 input -->
          <div class="row margin_1rem">
            <h5 class="col-md-12 text-center">얼굴형</h5>

            <div class="row_scroll scroll_bar">
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="face_shape_1" name="face_shape" value="1">
                  <label class="custom-control-label" for="body_shape_1">
                    달걀형
                  </label>
                  <label class="custom-control-label dis_block" for="face_shape_1">
                    <img src="{{ url_for('static', filename='assets/img/about/face shape/female/female_face_egg.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="face_shape_2" name="face_shape" value="2">
                  <label class="custom-control-label" for="body_shape_1">
                    역삼각형
                  </label>
                  <label class="custom-control-label dis_block" for="face_shape_2">
                    <img src="{{ url_for('static', filename='assets/img/about/2.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="face_shape_3" name="face_shape" value="3">
                  <label class="custom-control-label" for="body_shape_1">
                    둥근형
                  </label>
                  <label class="custom-control-label dis_block" for="face_shape_3">
                    <img src="{{ url_for('static', filename='assets/img/about/3.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="face_shape_4" name="face_shape" value="4">
                  <label class="custom-control-label" for="body_shape_1">
                    각진형
                  </label>
                  <label class="custom-control-label dis_block" for="face_shape_4">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="face_shape_5" name="face_shape" value="5">
                  <label class="custom-control-label" for="body_shape_1">
                    긴 얼굴형
                  </label>
                  <label class="custom-control-label dis_block" for="face_shape_5">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- 헤어스타일 input -->
          <div class="row margin_1rem">
            <h5 class="col-md-12 text-center">헤어스타일</h5>

            <div class="row_scroll scroll_bar">
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="hair_1" name="hair" value="1">
                  <label class="custom-control-label" for="body_shape_1">
                    장발
                  </label>
                  <label class="custom-control-label dis_block" for="hair_1">
                    <img src="{{ url_for('static', filename='assets/img/about/1.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="hair_2" name="hair" value="2">
                  <label class="custom-control-label" for="body_shape_1">
                    중발
                  </label>
                  <label class="custom-control-label dis_block" for="hair_2">
                    <img src="{{ url_for('static', filename='assets/img/about/2.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="hair_3" name="hair" value="3">
                  <label class="custom-control-label" for="body_shape_1">
                    단발
                  </label>
                  <label class="custom-control-label dis_block" for="hair_3">
                    <img src="{{ url_for('static', filename='assets/img/about/3.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
              <div class="col-md-4 dis_inblk">
                <div class="custom-control custom-radio image-checkbox">
                  <input type="radio" class="custom-control-input" id="hair_4" name="hair" value="4">
                  <label class="custom-control-label" for="body_shape_1">
                    숏컷
                  </label>
                  <label class="custom-control-label dis_block" for="hair_4">
                    <img src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="#" class="img-fluid">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" id="modifyClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="tampleBtn" class="btn btn-warning" onclick="modify()">Save changes</button>
      </div>
    </div>
  </div>
</div>