<!-- Modal (개인정보 변경) -->
<div class="modal fade" id="privacy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-muted" id="exampleModalLabel">개인정보 변경</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <form class="text-align-center" id="change_privacy_form">
            <!-- age input -->
            <div class="form-floating mb-3 ">
              <input class="form-control input-sm" id="age" name="age" value="{{user.age}}" type="text" required />
              <label for="current_pw">나이</label>
            </div>
            <!-- height input -->
            <div class="form-floating mb-3 ">
              <input class="form-control input-sm" id="height" name="height" value="{{user.height}}" type="text" required />
              <label for="current_pw">키</label>
            </div>
            <!-- weight input -->
            <div class="form-floating mb-3 ">
              <input class="form-control input-sm" id="weight" name="weight" value="{{user.weight}}" type="text" required />
              <label for="current_pw">몸무게</label>
            </div>
          </form>
  
          <div class="modal-footer">
            <button type="button" id="change_pwClsBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="tampleBtn" class="btn btn-warning" onclick="changePrivacy()">Save changes</button>
          </div>
  
        </div>
      </div>
    </div>
  </div>