/* 스크롤 */
body,
.scroll_bar,
.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar,
.scroll_bar::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track,
.scroll_bar::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb,
.scroll_bar::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover,
.scroll_bar::-webkit-scrollbar-thumb:hover,
.modal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 화면 전환 */
body{
  animation: fadein 800ms ease-out;
  -moz-animation: fadein 800ms ease-out; /* Firefox */
  -webkit-animation: fadein 800ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 800ms ease-out; /* Opera */
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
  from {opacity:0;}
  to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {opacity:0;}
  to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
  from {opacity:0;}
  to {opacity: 1;}
}

.card_temple{
  background-color: rgba( 85, 85, 85, 0.8 );
  padding: 20px;
  margin: auto;
}
.dis_inblk {
  display: inline-block;
}
.dis_block {
  display: block;
}

.scroll_bar {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

/* loading */
#load {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  /* opacity: 0.8; */
  background-color: rgba( 85, 85, 85, 0.4 );
  z-index: 99;
  text-align: center;
}
.loader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot { 
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  /* background-color: #f74d75; */
  background-color: #fff;
  animation: dot-3-move 1s ease infinite, index 3s ease infinite;
}

.dot-2 {
  /* background-color: #10beae; */
  background-color: #ffc800;
  animation: dot-2-move 1s ease infinite, index 3s -1s ease infinite;
}

.dot-1 {
  /* background-color: #ffe386; */
  background-color: #0dcaf0;
  animation: dot-1-move 1s ease infinite, index 3s -1s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}

.tooltip_icon {
  right: 20px;
  top: 20px;
  position: absolute;
}

.icon_left {
  left: 20px;
  top: 20px;
  position: absolute;
}

.row_scroll{
  padding-bottom: 5px;
  white-space:nowrap;
  overflow-x:scroll;
}