<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">Are you curious how it was made? Follow me!</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid"
            src="{{ url_for('static', filename='assets/img/about/1.jpg') }}" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>March 2021</h4>
            <h4 class="subheading">프로젝트 기획</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              21년 코로나사태가 벌어지고도 1년 반이라는 시간이 지났으나<br>
              아직 사람들이 많이 지나다니는 번화가를 가기엔 걱정됩니다.
            </p><br>
            <p class="text-muted">
              소비자가 옷을 살 때 인터넷 쇼핑을 주로 이용하게 되었으며<br>
              인터넷 쇼핑에는 너무 많은 제품들을 한번에 보게 되어<br>
              자신이 원하고 자신한테 맞는 스타일의 옷을 찾기가 힘들어졌습니다.
            </p><br>
            <p class="text-muted">
              그래서 우리는 그 점을 잡아<br>소비자에게 패션을 맞춤 추천해주는 사이트를 만들고자 생각하였고, 그렇게 탄생한 것이 Pick & Fit 입니다.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid"
            src="{{ url_for('static', filename='assets/img/about/2.jpg') }}" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>April 2021</h4>
            <h4 class="subheading">비즈니스 로직 기획</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">- 카테고리 별 데이터베이스</p>
            <p class="text-muted">- 회원이 원하는 패션 데이터</p>
            <p class="text-muted">- 패션 정보(컬러, 가격 등)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid"
            src="{{ url_for('static', filename='assets/img/about/3.jpg') }}" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>May-October 2021</h4>
            <h4 class="subheading">API 활용 및 웹 개발</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">패션 데이터셋 API를 활용하여<br>우리의 웹사이트에 필요한 서비스를 개발했습니다.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid"
            src="{{ url_for('static', filename='assets/img/about/4.jpg') }}" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>November 2021 ~</h4>
            <h4 class="subheading">최종 테스트 및 업데이트</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">지속적으로 서버를 배포하여<br>테스트 진행 및 피드백 업데이트할 예정입니다.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Finished
            <br />
            Of Our
            <br />
            product!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>