<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="section-subheading text-muted">Please let me know what you think.</h3>
    </div>

    <!-- * * Forms Contact Form * *-->
    <form id="contactForm">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6" style="float:none; margin:0 auto">
          <!-- Name input-->
          <div class="form-group">
            <input class="form-control" id="name" name="name" type="text" placeholder="Your Name *"
              data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Message input-->
          <div class="form-group form-group-textarea mb-md-0">
            <textarea class="form-control" id="message" name="message" placeholder="Your Message *"
              data-sb-validations="required"></textarea>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>

          <!-- Submit Button-->
          <div class="text-center">
            <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="button" onclick="contBtn()">
              Send Message</button>
            <button class="btn btn-info btn-xl text-uppercase" id="submitButton" type="button" data-bs-toggle="modal" data-bs-target="#contactMessage">
              Show Message</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- Modal (Show Message) -->
<div class="modal fade" id="contactMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">Contact Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-center scroll_bar">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" width="5%">#{{contact_result|length}}</th>
              <th scope="col" width="10%">name</th>
              <th scope="col">content</th>
              <th scope="col" width="10%">date</th>
            </tr>
          </thead>
          <tbody>
            {% for contact_result in contact_result %}
            <tr>
              <th scope="row">{{contact_result.idx}}</th>
              <td>{{contact_result.userNm}}</td>
              <td>{{contact_result.content}}</td>
              <td>{{contact_result.date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function contBtn() {
    var form = $('#contactForm')[0];
    var data = new FormData(form);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: '/contact/insert',
      data: data,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        if (data.code === 20000) {
          alertStart('success', 'contact', data.result, 'replace', '/')
        } else {
          alertStart('error', 'contact', data.result)
        }
      },
      error: function (e) {
        alertStart('error', 'contact', '전송에 실패하였습니다.')
      }
    });
  }
</script>

<style>
  #contact {
    padding-bottom: 150px;
  }
</style>