<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/hyunsik.png') }}"
            alt="..." />
          <h4>김 현식</h4>
          <p class="text-muted">Lead Marketer</p>
          <div class="mb-2">
            <a class="btn btn-dark btn-social mx-2" href="#team"><i class="fas fa-envelope-square"></i></a>
            test@test.com
          </div>
          <div class="mb-2">
            <a class="btn btn-dark btn-social mx-2" href="#team"><i class="fas fa-mobile-alt"></i></a>
            010-0000-1111
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='assets/img/team/soyoung.png') }}"
            alt="..." />
          <h4>박 소영</h4>
          <p class="text-muted">Lead Marketer</p>
          <div class="mb-2">
            <a class="btn btn-dark btn-social mx-2" href="#team"><i class="fas fa-envelope-square"></i></a>
            cat990302@naver.com
          </div>
          <div class="mb-2">
            <a class="btn btn-dark btn-social mx-2" href="#team"><i class="fas fa-mobile-alt"></i></a>
            010-7233-6944
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>