{% include './layout/header.html' %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">This Page is Flask Test Page</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-4">현재까지 개발된 Test 페이지는 Get, Post 기능과 웹 Text 크롤링</p>
                <a class="btn btn-primary btn-sm" href="/getPostTest">Get, Post 기능 확인</a>
                <a class="btn btn-primary btn-sm" href="/crawler">웹 Text 크롤링</a>
            </div>
        </div>
    </div>
</header>
{% include './layout/footer.html' %}