{% include './layout/header.html' %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-75">
        <div class="row gx-4 gx-lg-5 h-85 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">FICK & FIT</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-4">여기에 프로젝트에 대한 간단한 설명이 들어간 text가 들어와야 할 듯</p>
                <a class="btn btn-primary btn-sm" href="/getPostTest">의류추천 로직 시작</a>
                <a class="btn btn-primary btn-sm" href="/crawler">크롤링 하러가기</a>
            </div>
            <!-- img List -->
            <div class="col-12">
              <div class="col-3 card disply_ini">img for here</div>
              <div class="col-3 card disply_ini">img for here</div>
              <div class="col-3 card disply_ini">img for here</div>
            </div>
        </div>
    </div>
</header>
{% include './layout/footer.html' %}